.hero-container {
    position: relative;
    height: 680px;

    .hero-background {
        width: 100%;
        position: absolute;
        height: 100%;
        top: -80px;
        display: flex;
        flex-direction: column;
        // align-items: flex-end;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: $clr10;

        // z-index: -1; //added by Aharon, removed by Ariel


        // @include for-hero-layout-2 {
        //     background-color: unset;
        // }

        @include for-hero-layout-3 {
            justify-content: flex-end;
        }

        .hero {
            width: 100%;
            height: 100%;
            background-position: 100% 100%;
            background-repeat: no-repeat;
            display: contents;
            transition: .9s ease-in-out; // it works nicely, but causes problems when moving between breakpoints with the same hero (from it's 1st and 2nd image and vice versa)

            @include for-hero-layout-2 {
                display: block;
            }

            @include for-hero-layout-3 {
                background-position: 50% 100%;
            }
        }
    }

    .hero-header {
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-block-start: 125px;
        align-items: flex-start;
        padding-inline-start: 32px;

        // align-content: center; // removed by Aharon
        // padding-bottom: 24px;
        // position: absolute;
        // inset-block-start: 30vh;
        // width: 600px;

        @include for-hero-layout-1 {
            // max-width: 1400px;
            // margin: auto;
            // padding: 0;
            margin-block-start: 220px;
        }

        // @include for-hero-layout-2 {

        // }

        // @include for-hero-layout-3 {
        //     margin-inline: unset;
        //     padding-inline: unset;
        // }

        @include for-hero-layout-4 {
            margin-inline: auto;
            padding-inline: 0;
        }

        .hero-title {
            // width: 400px;
            max-width: 700px;
            width: 100%;
            font-size: rem(40px);
            line-height: 55px; // must calculate with lh function
            font-weight: 700;
            color: $clr7;
            font-family: 'Macan-bold';

            @include for-hero-layout-1 {
                // font-size: rem(48px);
                // width: 700px;
            }

            @include for-hero-layout-2 {
                // font-size: rem(48px);
                // width: 600px;
                max-width: 600px;
            }

            // @include for-hero-layout-3 {
            //     max-width: 600px;
            // }

            i {
                font-family: domain-display-italic;
                font-weight: 500;
            }
        }
    }
}