// HEADER WHEN EXPLORE PAGE

.app-header-container {
    border-bottom: 1px solid #e5e6e8;
    font-family: 'Macan-regular';
    // width: 100vw;

    .main-screen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(87, 80, 80, 0.35);
        opacity: 1;
        pointer-events: auto;
        transition: opacity 0.6s;
        z-index: 20;
    }

}

.app-header {

    display: flex;
    background-color:  white;
    height: 136px;
    align-items: center;
    // border-bottom: 0.5px;

    .burger-icon-gig-filter-container {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        justify-content: space-evenly;

        .burger-icon-container {
            display: flex;
            align-items: center;
            cursor: pointer;


            .frayerr-logo {
                position: absolute;
                left: 50%;
                margin-left: -60px;
            }

        }
    }

    .burger-button {
        background-color: transparent;
    }

    .burger-button-icon {
        color: $clr9;
    }

    .frayerr-logo {
        font-family: moon;
        color: $clr2;
        font-size: 1.5rem;
        font-weight: 100;

        span {
            color: $clr1;
        }

    }


    .icon-search-bar-container {
        display: none;

        a {
            text-decoration: none;
            color: inherit;
            padding: 0;
        }
    }

    .gig-filter-container {
        width: 100%;
    }


    .user-profile-img {
        display: none;
    }



    @include for-header-layout-1 {
        height: 80px;

        .gig-filter-container {
            margin-inline-start: 32px;
        }

        .burger-icon-gig-filter-container {
            position: static;
            flex-direction: row;
            align-items: center;

            .burger-icon-container {
                position: static;

                .frayerr-logo {
                    position: static;
                    margin-left: 15px;
                }

            }

        }

        .user-profile-img {
            display: block;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            object-fit: cover;
            margin-inline-start: 32px;
        }
    }

    @include for-header-layout-2 {


        .icon-search-bar-container {
            color: #62646a;
            display: flex;

            .orders-button {
                display: none;
            }

            .favorite-icon-button {
                display: none;
            }

            a {
                margin-inline-start: 18px;
            }
        }

        .avatar-logo-container {
            margin-inline-start: 18px;

            .user-profile-img {
                margin: 0;
            }
        }
    }

    @include for-header-layout-3 {

        .icon-search-bar-container {
            margin: 20px;
            display: flex;

            .orders-button {
                display: flex;
                align-items: center;

                div {
                    display: flex;

                }
            }

            .favorite-icon-button {
                display: block;
            }


        }

        .burger-button-container {
            display: none;
        }

        .burger-icon-gig-filter-container {
            .burger-icon-container {
                .frayerr-logo {

                    margin: 0;

                }
            }
        }
    }

}


// HEADER WHEN HOME PAGE NO SCROLL @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

.app-header-container.home-top-header-no-scroll {
    border: none;
    z-index: 1;

    .app-header {
        background-color: white;
        height: 80px;

        .burger-icon-gig-filter-container {
            justify-content: flex-start;
            flex-direction: row;


            .burger-icon-container {
                fill: $clr9;

                .frayerr-logo {
                    color: $clr9;
                    margin-left: 60px;

                }
            }

            .gig-filter-container {
                display: none;
            }
        }

        .icon-search-bar-container {
            display: block;
            color: $clr9;
            font-weight: 700;
            width: 100%;
            justify-content: flex-end;
            align-items: center;
            margin: 0;

            .explore-button {
                display: none;
            }

            .signin-button {
                display: none;
            }

            .join-button {
                div {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                }

                :hover {
                    color: gray;
                }
            }
        }

        @include for-header-layout-1 {
            background-color: transparent;

            .burger-icon-gig-filter-container {
                justify-content: flex-start;

                .burger-icon-container {
                    fill: white;

                    .frayerr-logo {
                        color: white;
                        margin-left: 15px;
                    }
                }
            }

            .icon-search-bar-container {
                color: white;
                display: flex;

                a {
                    margin-inline-start: 18px;
                }

                .explore-button {
                    display: block;
                }

                .signin-button {
                    display: block;
                }

                .join-button {
                    div {
                        width: 70px;
                        height: 30px;
                        border: 1px solid white;
                        border-radius: 2px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    :hover {
                        background-color: $clr1;
                        color: white;
                    }
                }
            }
        }

        @include for-header-layout-3 {

            .burger-icon-gig-filter-container {
                
                .burger-icon-container {

                    .frayerr-logo {
                        margin: 0;
                    }
                }
            }
        }
    }
}


// HEADER WHEN HOME PAGE WITH SCROLL @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

.app-header-container.home-top-header-with-scroll {
    position: fixed;
    border: none;
    z-index: 1;
    width: 100vw;
    background-color: white;

    .app-header {
        background-color: white;
        height: 80px;

        .burger-icon-gig-filter-container {
            justify-content: flex-start;
            flex-direction: row;


            .burger-icon-container {
                fill: $clr9;

                .frayerr-logo {
                    color: $clr9;
                    margin-left: 60px;

                }
            }

            .gig-filter-container {
                display: none;
            }
        }

        .icon-search-bar-container {
            display: block;
            color: $clr9;
            font-weight: 700;
            width: 100%;
            justify-content: flex-end;
            align-items: center;
            margin: 0;

            .explore-button {
                display: none;
            }

            .signin-button {
                display: none;
            }

            .join-button {
                div {
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;

                }

                :hover {
                    color: gray;
                }
            }
        }

        @include for-header-layout-1 {

            .burger-icon-gig-filter-container {
                .gig-filter-container {
                    display: block;
                }

                .burger-icon-container {

                    .frayerr-logo {
                        margin-left: 15px;
                    }
                }
            }

            .icon-search-bar-container {
                display: flex;

                a {
                    margin-inline-start: 18px;
                }

                .explore-button {
                    display: block;
                }

                .signin-button {
                    display: block;
                }

                .join-button {
                    div {
                        color: $clr1;
                        width: 70px;
                        height: 30px;
                        border: 1px solid $clr1;
                        border-radius: 2px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }

                    :hover {
                        background-color: $clr1;
                        color: white;
                    }
                }


            }
        }

        @include for-header-layout-3 {

            .burger-icon-gig-filter-container {

                .burger-icon-container {

                    .frayerr-logo {
                        margin: 0;
                    }
                }
            }
        }
    }
}