.app-header {
    display: flex;
    background-color: $clr4;
    padding: 10px;
    align-items: center;

    .burger-button{
        background-color: transparent;
    }

    .burger-button-icon {
        color: $clr9;
    }

    .frayerr-logo{
        margin-inline-start: 10px;
        font-size: 1.5rem;
        font-weight: 700;
    }

    .icon-search-bar-container{
        margin: 20px
    }

    .user-info {
        // background-color: $clr2;
        // padding: 2px 8px;
        padding-left: 100px;
        color: $clr1;

        .score {
            background-color: $clr2;
            color: $clr6;
            padding: 8px;
            margin: 10px;
            border-radius: 50%;
        }

    }
    .user-profile-img {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        object-fit: cover;
    }

    .user-info .btn-link {
        color: $clr2;
    }

    nav {
        font-size: .8em;
        background-color: $clr5;
        padding: 5px;

    }

    nav a:first-child {
        margin-right: 30px;
    }

    nav a:not(:first-child) {
        border-top: 1px solid $clr1;
        padding: 0 5px;
        margin: 10px;
    }

    nav .active {
        color: $clr1;
    }

}