.gig-preview {
  color: $clr2;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FFFFFF;
  // border: 1px solid #e4e5e7;
  // border: 1px solid  #B5B6BA;
  border: 1px solid #EFEFF0;

  &:hover {
    .gig-title {
      color: $clr1;
    }
  }

  .gig-img {
    width: 100%;
    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .owner-info {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px 0 8px 12px;

    .owner-name-level {
      display: flex;
      flex-direction: column;

      h5 {
        margin: 0;
      }

      .owner-name {
        color: #222325;
        font-weight: 600;
        // font-family: work-sans, sans-serif, serif;
      }

      .owner-level {
        // font-family: work-sans, sans-serif, serif;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.5;
        color: #74767E;

      }
    }

    .owner-pic {
      background-size: cover;
      background-repeat: no-repeat;
      height: 30px;
      width: 30px;
      border-radius: 50%;
    }
  }

  .gig-title {
    margin: 0;
    font-size: 18px;
    font-family: work-sans;
    text-align: left;
    color: #222325;
    // padding: 8px 20px 8px 12px;
    padding: 0px 12px 5px;
    margin: 5px 0 0;
    cursor: pointer;
    transition: 0.3s all;
    // height: 3.2em;
    overflow: hidden;
  }

  .rate-wrapper {
    padding: 10px 12px;

    .gig-rating {
      display: flex;
      align-items: center;
      height: 15px;
      color: #FFBE5B;
      font-weight: 700;
    }

    .review-number {
      color: #B5B6BA;
      font-weight: 400;
      margin-inline-start: 2px;
    }

    .star {
      width: 15px;
      height: 15px;
      margin-right: 5px;
      vertical-align: -0.16em;
    }
  }

  .card-footer {
    border-top: 1px solid #EFEFF0;
    // position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;

    p {
      font-size: 10px;
      color: #74767E;

      span {
        font-size: 18px;
        color: #404145;
        padding-left: 6px;
      }
    }

    .like {
      color: lighten($clr3, 20%);
      transition: color 0.3s;
      display: flex;
      svg {
            height: 20px;
          }

      &.active {
        color: rgba(218, 95, 95, 0.829);
      }
      &:hover {
      cursor: pointer;
    }
    }

    

  

  //   ul {
  //     cursor: pointer;
  //   }

  //   & ul li:first-child {
  //     text-transform: uppercase;
  //     color: #7a7d85;
  //     font-size: 10px;
  //     font-weight: 700;
  //     letter-spacing: 0.5px;
  //     padding: 2px 0;
  //   }

  //   & ul li:not(:first-child) {
  //     margin-top: 2px;
  //     font-size: 18px;
  //     line-height: 20px;
  //     color: $clr2;
  //     text-align: right;
  //   }
  }

  .carousel-btn-container {
    justify-content: center;
    position: absolute;
    left: 50%;
    margin-bottom: 5px;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    align-items: center;

    button {
      border-radius: 50%;
      height: 5px;
      width: 5px;
      padding: 0 0px;
      border: none;
      background-color: rgb(241, 238, 238);
      transition: transform 0.3s;
    }

    button.active {
      transform: scale(1.5);
    }
  }

  .carousel-item {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 197px;
    background-size: cover;
    color: #fff;
  }
}

  .indicators {
    display: block;
    top: 50%;

    &> :first-child {
      position: absolute;
      left: -26px;
    }

    &> :last-child {
      position: absolute;
      right: -26px;
    }

    justify-content: space-between;
    transform: translateX(-50%);

    // opacity: 0;
    span {
      transform: translateY(-50%);
      transition: 0.4s all;
    }

    &.show {

      // opacity: 1;
      &> :first-child {
        left: 0;
      }

      &> :last-child {
        right: 0;
      }
    }
  }

  .indicators>span {
    background-color: white;
    color: $clr3;
    border: 1px solid darken($clr4, 15%);

    svg {
      font-size: 14px;
      position: relative;
    }

    &:first-child {
      padding: 5px 5px 5px 5px;
      border-end-end-radius: 50%;
      border-top-right-radius: 50%;
    }

    &:first-child svg {
      top: 2px;
      bottom: 2px;
      right: 3px;
    }

    &:last-child {
      padding: 5px 5px 5px 5px;
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
    }

    &:last-child svg {
      inset: 2px 3px;
    }
  }

 


.popup .popuptext {
  visibility: hidden;
  width: 130px;
  padding: 8px;
  border-radius: 0.5em;
  background-color: #555;
  color: #fff;
  text-align: center;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  // left: 50%;
  margin-left: -53px;
}

/* Popup */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  // -webkit-user-select: none;
  // -moz-user-select: none;
  // -ms-user-select: none;
  user-select: none;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1.2s;
  animation: fadeIn 1.2s;
}