.search-bar-container {
    display: flex;
    height: 42px;
    align-items: center;
    max-width: 550px;

    .search-bar {
        flex-grow: 1;
        border: none;
        text-decoration: none;
        color: inherit;
        padding: 0;
        height: 100%;
        border-radius: 5px;
        border-width: 0.5px;
        border-style: solid;
        border-color: rgb(197, 198, 201);

        &::placeholder {
            color: rgb(197, 198, 201);
            font-size: 16px;
            padding: 10px 2px 10px 16px;
        }
    }

    .search-button {
        display: none;

    }

    @include for-header-layout-2 {
        .search-bar {
            border-radius: 5px 0 0 5px;
        }

        .search-button {
            display: block;
            height: 100%;
            width: 50px;
            border: none;
            border-radius: 0 5px 5px 0;
            background-color: $clr9;
            color: $clr4;
        }
    }

}