.explore{
    .gig-list {
        display: grid;
        grid-template-columns: repeat(1, minmax(0px , 1fr));
        gap: 16px;
        margin: 0;
        @include for-gig-list-narrow-layout{
            grid-template-columns: repeat(2, minmax(245px, 1fr));
        } 
        @include for-gig-list-normal-layout{
            grid-template-columns: repeat(3, minmax(245px, 1fr));
            // gap: 20px;
            gap: 16px;
        } 
        @include for-gig-list-wide-layout{
            grid-template-columns: repeat(4, minmax(245px, 1fr));
            gap: 32px;
        } 
    }
}


