.home-signup-container {
    display: none;
    margin-top: 48px;
    border-radius: 4px;
    height: 47vh;
    background-size: cover;
    background-repeat: no-repeat;

    @include for-hero-layout-2 {
        display: block;
        background-position: 95% 100%;
        background-image: url("../../img/bg-signup-v2.webp");
    }

    @include for-hero-layout-3 {
        background-position: 85% 100%;
        background-image: url("../../img/bg-signup-v1.webp");
    }
    
    .home-signup-content {
        margin-block-start: 120px;
        margin-inline-start: 90px;

        h2 {
            color: $clr7;
            font-family: "Macan-regular";
            font-weight: 700;
            font-size: rem(48px);
            line-height: 56px;
            max-width: 650px;
            padding-block-end: 50px;

    
            i {
                font-family: "domain-display-italic";
            }
        }

        .btn {
            font-family: "Macan-bold";
            padding: 12px 24px;
        }
    }
}