.nav-bar-containter {
    height: 100vh;
    background-color: #fff;
    z-index: 20;
    width: 273px;
    position: fixed;
    top: 0;
    // left: -273px;
    transition: all 0.8s ease;
    padding-top: 20px;
    transform: translate(-100%);

    a {
        color: $clr9;

        :hover{
            color: $clr1;
        }

    }

    &.open {
        left: 0;
        transform: translate(0, 0);
    }

    >* {
        margin-inline-start: 18px;
    }

    .menu-header {
        margin-block-start: 16px;

        .nav-bar-join-button {
            div {
                color: white;
                width: 132px;
                height: 42px;
                background-color: $clr1;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }

            :hover {
                background-color: green;
            }

        }

        .user-profile-img {
            width: 64px;
            height: 64px;
            border-radius: 50%;
            object-fit: cover;

        }

        .username-container {
            // position: absolute;
            // top: 40%;
            // left: 28%;
            position: relative;
            bottom: 23px;
            left: 10px;
        }

        .nav-bar-signin-button {
            margin-block-start: 16px;
        }


    }

    .menu-nav {

        div {
            margin-block-start: 16px;
        }
    }

}