.checkout {
  font-family: work-sans;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include for-normal-layout {
    gap: 40px;
    flex-direction: row;
    justify-content: space-evenly;
  }

  @include for-order-wide-layout {
    gap: 60px;
  }
  .bold {
    font-weight: 700;
  }
  padding-top: 40px;

  ul {
    display: flex;
    flex-direction: column;
  }

  .right-side-container {
    .order-modal {
      margin-bottom: 50px;

      @include for-normal-layout {
        margin-bottom: 0;
        width: 300px;
        top: 0;
      }
    }

    h3 {
      padding-bottom: 20px;
    }
    ul {
      gap: 20px;

      :nth-child(2) {
        @include for-narrow-layout {
          padding-bottom: 10px;
        }
      }
      :nth-child(3) {
        padding-top: 20px;
        @include for-narrow-layout {
          padding-top: 30px;
        }
        border-top: 1px solid #ddd;
      }
      li {
        display: flex;
        justify-content: space-between;
        font-size: 15px;
      }

      .li-inner-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;
        span {
          padding: 0;
        }
      }
    }
    button {
      margin-top: 20px;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  .main-content-container {
    display: flex;
    gap: 20px;
    padding-bottom: 30px;
    flex-direction: column;

    @include for-narrow-layout {
      flex-direction: row;
    }
    .main {
      display: flex;
      flex-direction: column;
    }
    .img-container {
      width: 100%;
      height: 150px;

      @include for-narrow-layout {
        width: 150px;
        height: 100px;
      }
    }
    img {
      width: 100%;
      height: inherit;
      object-fit: cover;
    }
  }

  .star-rate-container {
    display: flex;
    align-items: center;
    height: 28px;
  }

  .stars {
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      height: 20px;
      width: 17px;
    }
  }
  .num-of-rating {
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    padding-inline-start: 5px;
  }

  .review-length {
    padding-inline-start: 2px;
    font-weight: 400;
    color: #95979d;
  }

  .star {
    font-size: 4px;
    color: #ffb33e;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .price {
    color: $clr5;
    font-weight: 500;
  }

  .details {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

    h2 {
      line-height: 140%;
      color: $clr2;
      font-weight: 700;
      font-family: Arial, Helvetica, sans-serif;
    }

    p {
      padding-bottom: 20px;
    }

    ul {
      gap: 5px;

      li {
        color: #95979d;
        font-size: 14px;
      }
    }
  }
}
