.profile-menu {
    position: absolute;
    z-index: 20;
    right: 0;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    font-weight: 400;
    margin-top: 12px;
    min-width: 180px;
    padding: 5px 15px;
    .menu-pointer {
      position: absolute;
      left: calc(100% - 20px);
      top: -11px;
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-top-width: 0;
      border-bottom-color: $clr1;
      background: 0 0;
      transform: translateX(-50%);
      &::after {
        content: "";
        width: 0;
        height: 0;
        top: 1px;
        transform: translateX(-50%);
        border-bottom-color: #fff;
        position: absolute;
        border-color: transparent;
        border-top-width: 10px;
        border: transparent solid 10px;
        outline: 0;
      }
    }
    ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      li {
        padding: 5px 0;
        color: #74767e;
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif;
        &.logout {
          width: 100%;
          border-top: 1px solid rgb(187, 184, 184);
          cursor: pointer;
          padding: 10px 0;
        }
        &:hover {
          color: $clr1;
        }
      }
    }
  }
  
  .profile-container {
    position: relative;
  }
  