* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

    @media (max-width: 400px) {
        overflow-x: hidden;
    }
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: $clr5;
    position: relative;
    background-color: rgb(255, 255, 255);
    font-family: 'Macan';

    @include for-narrow-layout {
        overflow-x: unset;
    }
}

ul {
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
}

button {
    cursor: pointer;
}

.btn {
    cursor: pointer;
    background-color: $clr1;
    border: none;
    color: white;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 4px;
    padding: 0.8em 0.8em;
    transition: 0.1s;

    &:hover {
        background-color: darken($clr1, 5%);
    }

    &:active {
        background-color: darken($clr1, 10%);
    }
}

a {
    text-decoration: none;
    &:hover{
        color: $clr1;
    // text-decoration: underline;

    }
}

// body,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// hr,
// html,
// li,
// p,
// pre,
// table,
// tbody,
// td,
// textarea,
// tfoot,
// th,
// thead,
// tr,
// section,
// ul {
//     margin: 0;
//     padding: 0;
//     outline: 0;
// }



