* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

    @media (max-width: 400px) {
        overflow-x: hidden;
    }
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: $clr5;
    position: relative;
    background-color: rgb(255, 255, 255);
    font-family: Macan-regular;

    @include for-narrow-layout {
        overflow-x: unset;
    }
}

.app-container{
    height: 100%;
    width: 100%;

    .app-container-main {
        overflow-x: hidden;
    }
}

ul {
    margin: 0;
    padding: 0;
}

#root {
    width: 100%;
    height: 100%;
}

img {
    width: 100%;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    &:hover{
        color: $clr1;
    // text-decoration: underline;

    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    outline: 0;
}

// body,
// hr,
// html,
// li,
// p,
// pre,
// table,
// tbody,
// td,
// textarea,
// tfoot,
// th,
// thead,
// tr,
// section,
// ul {
//     margin: 0;
//     padding: 0;
//     outline: 0;
// }



