// Font Sizes
.fs12 {
    font-size: rem(12px);
}

.fs14 {
    font-size: rem(14px);
}

.fs18 {
    font-size: rem(18px);
}

.fs20 {
    font-size: rem(20px);
}

.fs24 {
    font-size: rem(24px);
}

.fs28 {
    font-size: rem(28px);
}

.fs30 {
    font-size: rem(30px);
}

// flex helpers

.flex {

    display: flex;

    >*.full {
        flex: 1;
    }

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }
}

.full-height {
    height: 100%;
}

.grid {
    display: grid;
}

// Media helpers

.square-ratio {
    @include aspect-ratio(1, 1);
}

.video-ratio {
    @include aspect-ratio(16, 9);
}

.portrait-ratio {
    @include aspect-ratio(9, 16);
}

.debug {
    border: 2px solid gold;
}

.clean-link {
    text-decoration: none;
    color: inherit;
    padding: 0;
}

.clean-list {
    list-style: none;
    list-style-image: none;
    padding: 0;
    margin: 0;
}

.hide {
    display: none;
}

.equal-padding {
    padding: 0 $layoutPadding;
}

.hovertext {
    position: relative;
    border-bottom: 1px dotted black;

    &:before {
        content: attr(data-hover);
        visibility: hidden;
        opacity: 0;
        width: 140px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 5px;
        padding: 5px 0;
        transition: opacity 1s ease-in-out;

        position: absolute;
        z-index: 1;
        left: -200%;
        top: 110%;
    }

    &:hover:before {
        opacity: 1;
        visibility: visible;
    }
}


// .main-wrapper {
//     width: 100%;
//     height: 100%;
//     position: relative;
//     .main-content {
//       min-height: 90vh;
//       position: relative;
//     }
//   }