// .max-width-container {
.main-layout {

    display: grid;
    grid-template-columns: 
    minmax($layoutPadding, 1fr)
    minmax(auto, 1400px)
    minmax($layoutPadding, 1fr)
    ;
    >*:not(.full) {
        // max-width: 1400px + 2 * $layoutPadding ;
        grid-column: 2;
    }
    >*.full {
        grid-column: 1 / -1;
    }

    @include for-layout-extra-wide {
        grid-template-columns: 
    minmax(($layoutPadding * 2), 1fr)
    minmax(auto, 1400px)
    minmax(($layoutPadding * 2), 1fr);
    } 
}

.add-main-layout {
    // max-width: 1400px + 2 * $layoutPadding ;
    max-width: 1400px;
    padding: 0 $layoutPadding 0 $layoutPadding ; // top right bottom left 
    margin: auto;
    @include for-layout-extra-wide {
        padding: 0 $layoutPadding * 2 0 $layoutPadding * 2 ; // top right bottom left 

    }
}






// > *:not(.full)
// @include for-narrow-layout {
//     @include layoutWidth();
// }

// @include for-normal-header-layout {
//     @include layoutWidth();

//     .display-from-size-medium {
//         display: inline-block;
//     }
// }

// @include for-wide-header-layout {
//     @include layoutWidth();

//     .display-from-size-large {
//         display: inline-block;
//     }
// }

// @include for-extra-wide-header-layout {
//     @include layoutWidth();

//     .display-from-size-large {
//         display: inline-block;
//     }
// }

// @include for-large-screen-header-layout {
//     @include layoutMaxWidth();
// }