
@font-face {
    font-family: 'Macan-regular';
    src: url(../../fonts/macan/macan-regular.3d263b5.woff2) format('woff2');
}
@font-face {
    font-family: 'Macan-bold';
    src: url(../../fonts/macan/macan-bold.502483a.woff2) format('woff2');
}
@font-face {
    font-family: 'Macan-semibold';
    src: url(../../fonts/macan/macan-semibold.d147812.woff2) format('woff2');
}
@font-face {
    font-family: 'Macan-light';
    src: url(../../fonts/macan/macan-light.9b72a31.woff2) format('woff2');
}

@font-face {
    font-family: moon;
    src: url(../../fonts/moon_get/moon_get-Heavy.ttf)
}


// old fontFace - To delete?
@font-face {
    font-family: roboto-bold;
    src: url(../../fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto;
    src: url(../../fonts/roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: lobster;
    src: url(../../fonts/Lobster/Lobster-Regular.ttf);
}

@font-face {
    font-family: work-sans;
    src: url(../../fonts/work-sans/WorkSans-Medium.ttf);
}

@font-face {
    font-family: work-sans-regular;
    src: url(../../fonts/work-sans/WorkSans-Regular.ttf);
}


