@font-face {
    font-family: roboto-bold;
    src: url(../../fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto;
    src: url(../../fonts/roboto/Roboto-Thin.ttf);
}

@font-face {
    font-family: lobster;
    src: url(../../fonts/Lobster/Lobster-Regular.ttf);
}

@font-face {
    font-family: work-sans;
    src: url(../../fonts/work-sans/WorkSans-Medium.ttf);
}

@font-face {
    font-family: work-sans-regular;
    src: url(../../fonts/work-sans/WorkSans-Regular.ttf);
}