// Colors
$clr1: #1dbf73;
$clr2: #404145;
$clr3: #757575;
$clr4: #f5f5f5;
$clr5: #62646a;
$clr6: #dadbdd;
$clr7: #eee;
$clr8: #82858c;
$clr9: #2a2c30;
$clr10: #023a15; // Added a clr10 variable for first hero
 
// Padding
$layoutPadding: 32px;

// Breakpoints
$break-narrow: 460px;
$break-normal: 720px;
$break-wide: 960px;
$break-extra-wide: 1300px;

// Carousel Breakpoints
// $carousel-break-normal: 600px;
// $carousel-break-wide: 960px;

//Header-breakpoint
$header-bp-1: 630px;
$header-bp-2: 900px;
$header-bp-3: 1160px;
// $header-bp-4: 1564px;

$header-break-normal: 630px;
$header-break-wide: 900px;
$header-break-extra-wide: 1160px;
$header-break-large-screen: 1564px;

//Hero-breakpoints
// $hero-bp-1: 630px;
$hero-bp-1: 700px;
$hero-bp-2: 900px;
$hero-bp-3: 1160px;
// $hero-bp-4: 1564px;

//Review-breakpoint
// $review-break-narrow: 580px;

// //Order-breakpoint
// $order-break-extra-wide: 1150px;
// $order-break-wide: 1080px;
// $order-break-normal: 910px;

//home-categories-breakpoint
// $home-category-break-narrow: 500px;

$padded-break-narrow: $break-narrow + $layoutPadding * 2;
$padded-break-normal: $break-normal + $layoutPadding * 2;
$padded-break-wide: $break-wide + $layoutPadding * 2;
$padded-break-extra-wide: $break-extra-wide + $layoutPadding * 2;

// @media (max-width: $padded-break-narrow) {
//   $layoutPadding: 32px;
// }
