// Colors
$clr1: #1dbf73;
$clr2: #404145;
$clr3: #757575;
$clr4: #f5f5f5;
$clr5: #62646a;
$clr6: #dadbdd;
$clr7: #eee;
$clr8: #82858c;
$clr9: #2a2c30;
 

// Padding
$layoutPadding: 32px;

// Breakpoints
$mobile-breakpoint: 460px;
$narrow-breakpoint: 720px;
$normal-breakpoint: 960px; 
$extra-wide-breakpoint: 1300px;

$padded-break-narrow: $mobile-breakpoint + $layoutPadding * 2;
$padded-break-normal: $narrow-breakpoint + $layoutPadding * 2;
$padded-break-wide: $normal-breakpoint + $layoutPadding * 2;
$padded-break-extra-wide: $extra-wide-breakpoint + $layoutPadding * 2;

@media (max-width: $padded-break-narrow) {
  $layoutPadding: 32px;
}

